.DashboardTable{
  width: 100%;
  padding: 10px;
}

.DashboardTable .pages{
  width: 100%;
  text-align: center;
}

.DashboardTable td, .DashboardTable th{
  text-align: center;
}

.DashboardTable .btn-compare{
  outline: none;
  border: none;
  background: white;
  color: grey;
}

.DashboardTable .btn-compare:hover{
  background: black;
  color: white;
}
