ul.TabMenuItems.right-tab{
  display: inline-flex;
  list-style-type: none;
}
ul.TabMenuItems.right-tab > li{
  flex: 1;
  margin-right: 4px;
}
ul.TabMenuItems.right-tab > li > Button{
  border-top-right-radius: 10px;
}