.ReactCodeMirror{
  height: calc(60% - 40px);
}
.ReactCodeMirror .CodeMirror{
  height: 100%;
}
.ReactCodeMirror .CodeMirror-scroll{
  padding-bottom: 0;
}

/* Language-selector */
.language-selector > .input-field {
  height: 40px;
  margin: 0;
}
.language-selector > .input-field > .select-wrapper > .select-dropdown{
  margin: 0;
}