section.Notice *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.Notice{
  width: 800px;
  height: 600px;

  margin: 0 auto;
  margin-top: 100px;

  background-color: white;
}

section.Notice > .header{
  width: 100%;
  height: 60px;
}
section.Notice > .content{
  width: 100%;
  height: 420px;
}
section.Notice tr{
  cursor: pointer;
}
section.Notice td{
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 20px;
}

section.Notice > .pages{
  width: 100%;
  height: 60px;
}
section.Notice > .pages > ul{
  width: 50%;
  margin: 0 auto;

  text-align: center;
}

section.Notice > .buttons{
  width: 100%;
  height: 60px;

  text-align: center;
}

section.Notice button{
  width: 120px;
}