section.AuthWrapper{
  background-color: white;
  width: 500px;
  height: auto;

  margin: 0 auto;

  margin-top: 30px;
  
  border: 1px solid gray;
}


section.AuthWrapper .input-wrapper{
  padding: 30px;
}

section.AuthWrapper .Auth-Form{
  width: 100%;
}

section.AuthWrapper .Auth-Change-Buttons{
  width: 100%;
  text-align: center;
}
section.AuthWrapper > div.Auth-Change-Buttons > button{
  width: 50%;
  height: 50px;
}

div.Auth-Buttons{
  text-align: center;
  margin: 0 auto;
}
div.Auth-Buttons > button{
  width: 130px;
}


button.toggle-login{
  background-color: lightgreen;
}
button.toggle-register{
  background-color: lightblue;
}