
.QuestionSubject > ul.collection,
.QuestionSubject > div.collection{
  margin-top: 0;
  margin-bottom: 0;
}
.QuestionSubject > .nav-wrapper {
  height: 100%;
}

.QuestionSubject .list-number{
  float: left;
  width: 10%;
}
.QuestionSubject .list-subject{
  width: 90%;
}