.HeaderWrapper{
  height: 50px;
  padding-left: 10px;
}

.HeaderWrapper .brand-logo{
  height: 100%;
  font-size: 1.5rem;
}
.HeaderWrapper .material-icons{
  height: 100%;
}

.HeaderWrapper a:hover{
  animation-name: whiteToBlack;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes whiteToBlack{
  from{
    color:white;
  }
  to {
    color: black;
  }
}