.card{
  margin-top: 10px;
  margin-bottom: 0;
}
.row.QusetionDetail-scroll.right{
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}
.row.QusetionDetail-scroll.right .col.m6.QuestionDetail-InputCase{
  padding-right: 3px;
}
.row.QusetionDetail-scroll.right .col.m6.QuestionDetail-OutputCase{
  padding-left: 3px;
}

.row.QusetionDetail-scroll.right .col.s1.m12.input-wrapper,
.row.QusetionDetail-scroll.right .col.s2.m12.output-wrapper{
  padding: 0;
}