* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

header.main-header{
  width: 100%;
  height: 50px;
  background: lightcoral;
}
section.main-section{
  width: 100%;
  height: calc(100% - 50px);
  background: lightblue;
}
section.main-section > section.left-tab{
  z-index: 2;
  position: absolute;
  width: 300px;
  height: inherit;
  background: lightgreen;
}
section.main-section > section.right-tab{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: inherit;
  background: lightseagreen;
  padding-left: 300px;
}
/* footer.main-footer{
  width: 100%;
  height: 50px;
  background: gray;
} */